
@{
    ViewBag.Title = "CMS - Index";
    int k = 0;
    ViewBag.k = 0;
}

<h2>Progress of project</h2>
@if (User.IsInRole("programmer"))
{
    <p><a class="btn-primary btn-lg" href="/CMS/Add">Add New Article</a></p>
}
<table class="tg">
    <tr>
        <th class="tg-yw43">Date</th>
        <th class="tg-yw41">From</th>
        <th class="tg-yw43">Subject</th>
        <th class="tg-yw42">Text</th>
    </tr>
@for (int i=0; i<(ViewBag.count/4);i++)
{

    <tr onclick="show(@ViewBag.k)">
    @for (int j = 0; j < 4; j++)//4 means count of headders (Date, From, Subject, Text)
    {
        if (ViewBag.data[j].Contains("<br>"))
        {
            <td id="@ViewBag.k">@ViewBag.data[k]</td>
        }
        else
        {
            <td id="@ViewBag.k">@ViewBag.data[k]</td>
        }
        k++;
        ViewBag.k = k;
        if (User.IsInRole(programmer))
        <td id="Delete">Delete Info
    }
    </tr>

}
</table>
<script>
    function show(k) {

    var date = document.getElementById(k).innerText;
    var from = document.getElementById(k+1).innerText;
    var subject = document.getElementById(k+2).innerText;
    var text = document.getElementById(k+3).innerText;

    document.getElementById("articleText").innerHTML = text;
    document.getElementById("date").innerHTML = date;
    document.getElementById("from").innerHTML = from;
    document.getElementById("subject").innerHTML = subject;
}
</script>
<div id="date">
</div>
<div id="from">
</div>
<div id="subject">
</div>
<div id="articleText">
</div>