@using MVCtutorial.Alarms.Models
@model AlarmFormModel

<style>
    .first {
        margin-left: 38%;
    }
    .second {
        margin-left: 35%;
    }
</style>

<h2 class="header">Alarms</h2>

<div class="top">
    <div class="row">
        @using (Html.BeginForm("Form", "Alarm", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="form-group">
                <div class="first">
                    <div class="col-md-offset-2 col-md-10" id="1">
                        <input type="submit" value="<-" onclick="pageDecrement()" class="btn btn-default" />
                        @ViewBag.PageNumber
                        <input type="submit" value="->" onclick="pageIncrement()" class="btn btn-default" />
                        @Html.HiddenFor(m => m.someId, new { id = "someId" })
                        <script type="text/javascript">
                            function pageIncrement() { var PageNumber = @ViewBag.PageNumber;  PageNumber++; var some = document.getElementById("someId").value = PageNumber;}
                            function pageDecrement() { if (@ViewBag.PageNumber>0){ var PageNumber = @ViewBag.PageNumber;  PageNumber--; var some = document.getElementById("someId").value = PageNumber; }}
                        </script>
                    </div>
                </div>
                    <div class="second">
                        <div class="col-md-offset-2 col-md-10" id="2">
                            <input type="submit" value="10" onclick="NumberOfRecords10()" class="btn btn-default" />
                            <input type="submit" value="20" onclick="NumberOfRecords20()" class="btn btn-default" />
                            <input type="submit" value="30" onclick="NumberOfRecords30()" class="btn btn-default" />
                            @Html.HiddenFor(m => m.NumberOfRecords, new { id = "NumberOfRecords" })
                            <script type="text/javascript">
                                function NumberOfRecords10() { var NumberOfRecords = @ViewBag.NumberOfRecords;  NumberOfRecords = 10; var some = document.getElementById("NumberOfRecords").value = NumberOfRecords;}
                                function NumberOfRecords20() { var NumberOfRecords = @ViewBag.NumberOfRecords;  NumberOfRecords = 20; var some = document.getElementById("NumberOfRecords").value = NumberOfRecords;}
                                function NumberOfRecords30() { var NumberOfRecords = @ViewBag.NumberOfRecords;  NumberOfRecords = 30; var some = document.getElementById("NumberOfRecords").value = NumberOfRecords;}
                            </script>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
<div class="bottom">
        <style type="text/css">
            .tg {
                border-collapse: collapse;
                border-spacing: 0;
                margin: 0px auto;
                background-color: #ccc2cc;
                border: 1px solid black;
                width:  85%;
            }

                .tg td {
                    font-family: Arial, sans-serif;
                    font-size: 12px;
                    padding: 3px 1px;
                    word-break: normal;
                }
                .tg tr:hover {
                    font-family: Arial;
                    font-size: 14px;
                    padding: 1px 1px;
                    border-style: solid;
                    background-color: gold;
                }
                .tg th {
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: white;
                    padding: 7px 4px;
                    border-style: solid;
                    overflow: hidden;
                    word-break: normal;
                }

                .tg .tg-yw4l {
                    vertical-align: top;
                }
            .tg-yw4l {
                width: 5%;
            }
            .tg-yw42 {
                max-width: 50%;
            }
            .tg-yw43 {
                width: 15%;
            }
            .tg-yw44 {
                width: 15%;
            }
        </style>
            <table class="tg">
                <tr>
                    <th class="tg-yw4l">Id</th>
                    <th class="tg-yw42">Alarm Label</th>
                    <th class="tg-yw43">Origin Time</th>
                    <th class="tg-yw44">ExpiryTime</th>
                </tr>


                @for (int i = 0; i < ViewBag.NumberOfRecords; i++)
                {
                    @ViewBag.uups
                    <tr>
                        <td class="tg-yw4l">@ViewBag.Id[i]</td>
                        <td class="tg-yw42">@ViewBag.Label[i]</td>
                        <td class="tg-yw43">@ViewBag.originTime[i]</td>
                        <td class="tg-yw44">@ViewBag.expTime[i]</td>
                    </tr>
                }
            </table>

</div>
